.sliderContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: transparent;
}

.slider {
    display: flex;
    animation: slide 30s linear infinite;
}

.slide {
    flex: 0 0 auto;
    margin: 0 20px;
    transition: opacity 0.3s ease;
}

.slide img {
    opacity: 0.7;
    transition: opacity 0.3s ease;
    max-height: 80px; /* Ajusta este valor si es necesario */
    width: auto;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}