.sliderContainer {
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    animation: slide 20s linear infinite;
}

.slide {
    flex: 0 0 auto;
    width: 120px;
    padding: 0 10px;
}

.slide img {
    opacity: 1;
    transition: opacity 0.3s ease;
    max-height: 80px;
    width: auto;
    filter: brightness(1.2) contrast(1.1);
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}